<header class="main-header">
  <div class="side-search">
    &nbsp;
  </div>
  <h1>
    <%= link_to 'dashboard<span>project</span>'.html_safe, dashboard_index_url %>
  </h1>
  <div class="side-navigation">
    <div class="house-project">
      <%= link_to(image_tag(@current_home.photos), homes_path) %>
      <span><%= @current_home.name.upcase %></span>
    </div>
    <% if controller?("dashboard") %>
      <div class="switch-dashboard-layout">
        <a href="#" class="icon-th-large current"></a>
        <a href="#" class="icon-th-list"></a>
      </div>
    <% end %>
  </div>
</header>