<header class="main-header">
  <div class="side-search">
    &nbsp;
  </div>
  <h1>dashboard<span>project</span></h1>
  <div class="side-navigation">
    <div class="house-project">
      <%= image_tag "family.jpg" %>
      <span>8429<br>CHÉNIER</span>
    </div>
    <div class="switch-dashboard-layout">
      <a href="#" class="icon-th-large current"></a>
      <a href="#" class="icon-th-list"></a>
    </div>
  </div>
</header>