<nav class="vertical-navigation">
  <ul>
    <li<%= controller?("expenses") ? ' class=selected' : '' %>>

      <%= link_to '', expenses_path, class: 'icon-money' %>
    </li>
    <li<%= controller?("incomes") ? ' class=selected' : '' %>>
      <%= link_to '', incomes_path, class: 'icon-wallet' %>
    </li>
    <li>
      <a href="#" class="icon-money-1"></a>
    </li>
    <li>
      <a href="#" class="icon-tag"></a>
    </li>
  </ul>



</nav>