<nav class="vertical-navigation">
  <ul>
    <li class="selected">
      <a href="#" class="icon-money"></a>
    </li>
    <li>
      <a href="#" class="icon-wallet"></a>
    </li>
    <li>
      <a href="#" class="icon-money-1"></a>
    </li>
    <li>
      <a href="#" class="icon-tag"></a>
    </li>
  </ul>



</nav>