$bp_phone:"480px";
$bp_tablet:"768px";
$bp_desktop:"1248px";

$icon-font: 'fontello';

$purple: #DDA0DD;
//$purple: #8e538e;
$soft-grey: #969696;

$rent: #5C6BC0;
$payday: #26A69A;
$hydro: #8BC34A;
$spotify: #00796B;
$videotron: #424242;
